.subcategories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  padding: 40px;
  justify-items: center;
}
.subcategories > div {
  box-shadow: 1px 0px 18px 0px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 1px 0px 18px 0px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 1px 0px 18px 0px rgba(0, 0, 0, 0.61);
}

.subcategories > div > div {
  background: blue;
  color: #ffffff;
  padding: 10px;
}

.noSubcategoryDialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.breadcrumbContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5rem 1.3rem 0px 1.3rem;
  font-size: calc(10px + 2vmin);
}

.breadcrumb {
  position: relative;
  left: 6%;
  display: flex;
}
.breadcrumb > div {
  cursor: pointer;
}

@media (max-width: 992px) {
  .subcategories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .subcategories {
    grid-template-columns: 1fr;
  }
}
