.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  padding: 40px;
  justify-items: center;
}
.categories > div {
  box-shadow: 1px 0px 18px 0px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 1px 0px 18px 0px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 1px 0px 18px 0px rgba(0, 0, 0, 0.61);
}

.categories > div > section {
  background: blue;
  color: #ffffff;
  padding: 10px;
}

.headingConatiner {
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 25px;
}

.heading {
  position: relative;
  left: 6%;
  display: flex;
}

@media (max-width: 992px) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .categories {
    grid-template-columns: 1fr;
  }
}
