.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px 20px;
}

.content {
  padding: 10px;
  white-space: nowrap;
  position: relative;
}
.branches {
  position: absolute;
  left: 0;
  background: #ffffff;
  color: #000000;
  max-height: 200px;
  overflow: auto;
}
.branchName {
  padding: 10px;
  cursor: pointer;
}
.branchName:hover {
  background-color: #000000;
  color: #ffffff;
}
