.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  opacity: 0.9;
  background-color: black;
}

.tilteStyle {
  text-decoration: none;
  color: #ffffff;
}

.content {
  padding: 10px;
  white-space: nowrap;
  position: relative;
}
.branches {
  position: absolute;
  left: 18%;
  background: #ffffff;
  color: #000000;
  max-height: 225px;
  overflow: auto;
  min-width: 10vw;
  box-shadow: 1px 0px 18px 0px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 1px 0px 18px 0px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 1px 0px 18px 0px rgba(0, 0, 0, 0.61);
}
.branchName {
  padding: 10px;
  cursor: pointer;
}
.branchName:hover {
  background-color: #000000;
  color: #ffffff;
}
